<div class="row">
  <div class="col text-center">
    <img src="../assets/img/{{ attemps }}.png" alt="" class="Hangman-img">
    <h3>Intentos <small>{{ attemps }} / 9</small></h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1>{{ wordHide }}</h1>
  </div>
</div>

<div class="row" *ngIf="win">
  <div class="col text-center">
    <h1>Felicidades Ganaste!!!!</h1>
    <h3>:D</h3>
    <button (click)="reset()" class="btn btn-primary">Volver a Jugar</button>
  </div>
</div>

<div class="row" *ngIf="losed">
  <div class="col text-center">
    <h1>Has perdido :/</h1>
    <h3>{{ word }}</h3>
    <button (click)="reset()" class="btn btn-primary">Volver a Jugar</button>
  </div>
</div>

<div class="row" *ngIf="!win && !losed">
  <div class="col text-center">
    <button (click)="check(letter)" *ngFor="let letter of letters" class="btn btn-primary">{{ letter }}</button>
  </div>
</div>